.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    height: 100vh;
}
.header {
    background-color: wheat;
    grid-area: 1 / 1 / 2 / 7;

}
.nav {
    background-color: wheat;
    grid-area: 2 / 1 / 7 / 2;
}
.article {
    background-color: wheat;
    grid-area: 2 / 2 / 6 / 6;
}
.ads {
    background-color: wheat;
    grid-area: 2 / 6 / 6 / 7;
}
.footer {
    background-color: wheat;
    grid-area: 6 / 2 / 7 / 7;
}