* {
    box-sizing: border-box;
}
body {
    margin: 0;

}
main {
    /* add margin to make the top of our grid more visible */
    margin-top: 2em;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "top-nav top-nav top-nav"
            "side-nav"
            "side-nav"
            "side-nav"
            "side-nav"
            "side-nav"
;
    /*grid-gap: 1px;*/

