* {
    box-sizing: border-box;
}
body {
    margin: 0;

}
main {
    /* add margin to make the top of our grid more visible */
    margin-top: 2em;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "top-nav, top-nav, top-nav"
            "side-nav body-item-1 top-add"
            "side-nav body-heading-2 middle-add"
            "side-nav body-heading-3 bottome-add"
            "side-nav numbers ."
            "side-nav footer footer"
;
/*grid-gap: 1px;*/

.top-nav {
    justify-content: flex-start;
    background-color: black;
    text-decoration-color: white;
    grid-area: top-nav;
}
.side-nav {
    grid-area: side-nav;
}
.body-heading-1 {
    grid-area: body-heading-1
}
.body-heading-2 {
    grid-area: body-heading-2;
}
.body-heading-3 {
    grid-area: body-heading-3;
}