p {
    color: red;
}
h1, h2, h3, h4, h5, h6 {
color:blue; text-decoration: underline;
}
body {
    background-color: yellow;
    background-image:url("../img/IMG_1213.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    font-style: italic;
}
ul {
    list-style: square;
}
li {
    color:red;
}
table {
    background-image: url("../img/pupsmall.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

table, tr, td {
    color: red;
    padding: 15px;
    font-size: 15px;
}
a:hover {
text-decoration: wavy red underline;
}
a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:active {
    color: orange;
}
em {
    color: white;
}